body{
    counter-reset: number_of_projects;
}

.project h2::before{
    counter-increment: number_of_projects;
    content: counter(number_of_projects) ": ";
}

#projects{
    text-align: left;
    width: 57%;
    margin: auto;
    color: var(--text-color);
    background-color: var(--bkg-color);
}

a{
    font-size: larger;
    text-decoration: none;
    color:rgb(45, 81, 245);
}

hr{
    width: 100%;
}

@media screen and (max-width:1000px){
    #projects{
        width: 100%;
        font-size: smaller;
    }

}